<div style="height: 100vh">
  <div class="centered">
    <div class="row centered-div">
      <div class="col-12 d-flex justify-content-center">
        <div class="text-start">
          <div class="row">
            <div class="col-sm-12">
              <div class="ms-xl-4">
                <i class="fas fa-crow fa-2x mt-xl-4" style="color: #709085"></i>
                <span class="h1 fw-bold mb-0">Teacher</span>
              </div>

              <div
                class="d-flex align-items-center h-custom-2 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5"
              >
                <form style="width: 23rem">
                  <div
                    data-mdb-input-init=""
                    class="form-outline mb-2"
                    data-mdb-input-initialized="true"
                  >
                    <input
                      type="email"
                      id="form2Example18"
                      class="form-control form-control-lg"
                    />
                    <label
                      class="form-label"
                      for="form2Example18"
                      style="margin-left: 0px"
                      >Email address</label
                    >
                    <div class="form-notch">
                      <div class="form-notch-leading" style="width: 9px"></div>
                      <div
                        class="form-notch-middle"
                        style="width: 88.8px"
                      ></div>
                      <div class="form-notch-trailing"></div>
                    </div>
                  </div>

                  <div
                    data-mdb-input-init=""
                    class="form-outline mb-2"
                    data-mdb-input-initialized="true"
                  >
                    <input
                      type="password"
                      id="form2Example28"
                      class="form-control form-control-lg"
                    />
                    <label
                      class="form-label"
                      for="form2Example28"
                      style="margin-left: 0px"
                      >Password</label
                    >
                    <div class="form-notch">
                      <div class="form-notch-leading" style="width: 9px"></div>
                      <div class="form-notch-middle" style="width: 64px"></div>
                      <div class="form-notch-trailing"></div>
                    </div>
                  </div>

                  <div class="mb-2">
                    <!-- <button
                      data-mdb-button-init=""
                      data-mdb-ripple-init=""
                      class="btn btn-primary btn-lg rounded-0"
                      type="button"
                      data-mdb-button-initialized="true"
                      routerLink="/teacher-login/teacher-dashboard"
                    >
                      Login
                    </button> -->
                    <a
                      (click)="navigateToTeacherdashboard()"
                      class="btn btn-primary btn-lg rounded-0"
                      type="button"
                      data-mdb-button-initialized="true"
                    >
                      Login
                    </a>
                  </div>

                  <p class="small mb-5 pb-lg-2">
                    <a class="text-muted" href="#!">Forgot password?</a>
                  </p>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
